<h1>Go Champs Scoreboard | With updates</h1>

<div>
  Load games:
  <.link href="/scoreboard/load/6b959ba6-e0cf-46d9-ad66-4a50bc68917f?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJnb19jaGFtcHNfYXBpIiwiZXhwIjoxNzM2ODc2MTY2LCJpYXQiOjE3MzQ0NTY5NjYsImlzcyI6ImdvX2NoYW1wc19hcGkiLCJqdGkiOiI3NDgwNTBjNS1lYmE1LTQyOTctODBhZC1jNmE3ZDM4NWY3MjgiLCJuYmYiOjE3MzQ0NTY5NjUsInN1YiI6Ijc5ODQ5YTE2LTBhM2YtNGY0OS1hZGFkLWY1NDA0NmU1MDMwYyIsInR5cCI6ImFjY2VzcyJ9.vmOB0q4uvovY1D4Fbst6muPJpPd6twQE1Eeuf7yrAlgtCRbfHupz5q-sb4fvHI5_Kd5irkutUfR1ui7UBO73MA">
    Same plage
  </.link>
</div>
