<h1>Go Champs Scoreboard | With updates</h1>

<div>
  Load games:
  <.link href="/scoreboard/load/6b959ba6-e0cf-46d9-ad66-4a50bc68917f?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJnb19jaGFtcHNfYXBpIiwiZXhwIjoxNzM0Mzg4NjU4LCJpYXQiOjE3MzE5Njk0NTgsImlzcyI6ImdvX2NoYW1wc19hcGkiLCJqdGkiOiJlM2MyMWJmZi02MjJlLTQ2NzgtODVmYS1kNWQ4N2Y1ZDdlMGQiLCJuYmYiOjE3MzE5Njk0NTcsInN1YiI6Ijc5ODQ5YTE2LTBhM2YtNGY0OS1hZGFkLWY1NDA0NmU1MDMwYyIsInR5cCI6ImFjY2VzcyJ9.uNNz5I5TIVbb2klGn7JTh0q7i_m3pJED0rkklqZsFNBDqziutwkC678oiItk0lfqGiPCMtlx7kqReJWj-E51mA">
    Same plage
  </.link>
</div>
