<h1>Go Champs Scoreboard | With updates</h1>

<div>
  Load games:
  <.link href="/scoreboard/load/6b959ba6-e0cf-46d9-ad66-4a50bc68917f?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJnb19jaGFtcHNfYXBpIiwiZXhwIjoxNzM2OTQ0ODEwLCJpYXQiOjE3MzQ1MjU2MTAsImlzcyI6ImdvX2NoYW1wc19hcGkiLCJqdGkiOiIxNWY4YTMzYy1lYTc2LTRiZDgtYTNiMS1lZTc4NWFmZTdhZTMiLCJuYmYiOjE3MzQ1MjU2MDksInN1YiI6Ijc5ODQ5YTE2LTBhM2YtNGY0OS1hZGFkLWY1NDA0NmU1MDMwYyIsInR5cCI6ImFjY2VzcyJ9.psMfPqI4BtcnnM0jLBThwOgxAcIjY96zID871cY2S2JrbLHINlZMauUTLL6t7fWMOuY3FheFSueed9v-So3_0w">
    Same plage
  </.link>
</div>
