@import '../colors.scss';

.stream-views {
  width: 800px;
  padding: 1.5rem;

  .column {
    border: 1px solid $white-dark;
    padding: 0;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.1);

    &.ad {
      background-color: $black;
    }

    &.away {
      background-color: $green;
    }

    &.home {
      background-color: $red-dark;
    }

    &.period {
      background-color: $black;
    }
  }

  .team-score {
    display: flex;
    justify-content: space-between;

    .name {
      width: 70%;
      color: $white;
      font-weight: bold;
      font-size: 60px;
      text-overflow: ellipsis;
      max-width: 203px;
      overflow: hidden;
    }

    .score {
      width: 30%;
    }
  }

  .period-time {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: $white;

    .period {
      background-color: rgb(18, 18, 18);
      width: 30%;
    }

    .time {
      background-color: rgb(36, 36, 36);
      width: 70%;
    }
  }

  .ad {
    background-color: rgb(36, 36, 36);
    color: $white;
    font-size: 20px;
  }

  .animated-score {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    color: $dark;
    background: linear-gradient(#fdfdff 0%, #cdcdcd 50%, #fdfdff 100%);

    .score-effect {
      position: absolute;
      left: 85px;

      &.show-1 {
        display: block;
        animation: fallingball 0.6s forwards 1;
      }

      &.show-2 {
        display: block;
        animation: fallingball 0.6s forwards 2;
      }

      &.show-3 {
        display: block;
        animation: fallingball 0.6s forwards 3;
      }

      &.hide {
        display: none;
      }
    }
  }
}

@keyframes fallingball {
  0% {
    top: -20px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}
