@import '../colors.scss';

.stream-views {
  width: 800px;
  padding: 1.5rem;

  .column {
    border: 1px solid $white-dark;
    padding: 0;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.1);

    &.away {
      background-color: $green;
    }

    &.home {
      background-color: $red-dark;
    }

    &.period {
      background-color: $black;
    }
  }

  .team-score {
    display: flex;
    justify-content: space-between;

    .name {
      position: relative;
      width: 70%;
      font-weight: bold;
      font-size: 50px;

      .text {
        position: absolute;
        top: 7px;
        left: 2px;
        pointer-events: none;
        text-overflow: ellipsis;
        max-width: 200px;
        max-height: 92px;
        overflow: hidden;
      }
    }

    input[type='color'] {
      cursor: pointer;
      box-shadow: 0px;
      border: none;
      padding: 0;
      padding-inline: 0;
      padding-block: 0;
      width: 100%;
      height: 100%;
    }

    input[type='color']::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
      border: none;
    }

    .score {
      width: 30%;
    }
  }

  .period-time {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: $white;

    .period {
      background-color: rgb(18, 18, 18);
      width: 30%;
    }

    .time {
      background-color: rgb(36, 36, 36);
      width: 70%;
    }
  }

  .ad {
    background-color: rgb(36, 36, 36);
    color: $white;
    font-size: 20px;
  }

  .animated-score {
    position: relative;
    font-size: 56px;
    padding: 3px 0;
    font-weight: bold;
    color: $dark;
    background: linear-gradient(#fdfdff 0%, #cdcdcd 50%, #fdfdff 100%);
    overflow: hidden;

    .score-effect {
      position: absolute;
      background: linear-gradient(#fdfdff 0%, #cdcdcd 50%, #fdfdff 100%);
      top: -90px;
      left: 0;
      width: 100%;
      text-align: center;

      &.show {
        animation: moveToTop 2s forwards;
        top: 90px;
      }

      &.hide {
        display: none;
      }
    }
  }
}

@keyframes moveToTop {
  from {
    top: -90px;
  }
  40% {
    top: 0;
  }
  60% {
    top: 0;
  }
  to {
    top: 90px;
  }
}
